.logo {
  z-index: 999;
  position: fixed;
  top: 2vh;
  left: 2vw;
  font-size: 4rem;
  color: #dcfb00;
  font-family: "Athiti", sans-serif;
  display: none;
}
.page {
  position: absolute;
  z-index: 1;
  min-width: 100vw;
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  width: 100vw;
  min-height: auto;
}

.txt_hl {
  position: absolute;
  top: -10vh;
  width: max-content;
  left: 0;
  display: none;
}
.txt_hl .txt {
  font-family: "Athiti", sans-serif;
  font-size: 3em;
}
.txt_hl img {
  position: absolute;
  width: 12vw;
  left: -2vw;
  z-index: -1;
}

@font-face {
  font-family: "ChulaCharas";
  src: url(/css/ChulaCharasNewReg.ttf) format("truetype");
}
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

section {
  position: relative;
  height: 100vh;
}

.topic {
  z-index: 1;
  position: absolute;
  top: 8%;
  left: 36%;
  /* Preserve aspet ratio */
  width: fit-content;
  height: auto;
  font-family: "Athiti", sans-serif;
}

.topic p {
  font-size: 5rem;
  color: #dcfb00;
  margin-bottom: -0.5em;
}

.box {
  position: absolute;
  width: 100vw;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;

  /*
  Nope =(
  margin-left: -25%;
  margin-top: -25%;
  */

  /* 
  Yep!
  */
  transform: translate(-50%, -50%);

  /*
  Not even necessary really. 
  e.g. Height could be left out!
  */
  width: 40%;
  height: 50%;
}

.box2 {
  position: absolute;
  left: 22%;
  display: none;
}

.keyword {
  position: relative;
  background: #dcfb00;
  padding: 30px;
  margin: auto;
  width: fit-content;
  text-align: -webkit-center;
}

.keyword p,
.chap1_des {
  text-align: left;
  font-size: 2em;
  padding-top: 10px;
  margin-bottom: -0.1em;
  font-family: "ChulaCharas", sans-serif;
}

.chapter_1 {
  margin-top: 30vh;
  text-align: -webkit-center;
}
.chapter_1 .post_it {
  position: relative;
  z-index: 1;
  width: auto;
  height: 40vh;
}
.chapter_1 .l_t,
.chapter_1 .l_b {
  position: absolute;
  width: 20vw;
}

.chap1_topic {
  font-family: "Athiti", sans-serif;
  font-size: 3em;
}
.r1,
.r2 {
  background: #dcfb00;
}
.preface p {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  margin-bottom: -0.1em;
  font-family: "ChulaCharas", sans-serif;
}

.home {
  z-index: 0;
  position: fixed;
  top: 2%;
  left: -43%;
  /* Preserve aspet ratio */
  width: 100%;
  height: auto;
  font-family: "Athiti", sans-serif;
}

.home p {
  font-size: 3.5rem;
  color: #dcfb00;
  margin-bottom: -0.5em;
}

.word {
  font-size: 1.2em;
  font-family: "ChulaCharas", sans-serif;
  position: relative;
  background: #dcfb00;
  width: 450px;
  margin-top: 2%;
  margin-bottom: 4%;
}

.word2 {
  font-size: 2em;
  font-family: "Athiti", sans-serif;
  position: relative;
  background: #dcfb00;
  width: 100px;
  margin-top: 2%;
  margin-bottom: 4%;
}

.box3 {
  position: relative;
  background: #d9d9d8;
  text-align: left;
}

.content {
  position: relative;
}

.trigger_1,
.trigger_2 {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  min-width: 100vw;
}

.box_l,
.box_r {
  position: relative;
  width: 34%;
  height: 100%;
  background: #000;
}

.box_t,
.box_b {
  width: 100%;
  height: 10%;
  background: #000;
}

.middle_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------slide-------- */
.left_content {
  position: relative;
  font-family: "Athiti", sans-serif;
  font-size: 90px;
  width: fit-content;
  margin-left: 4vw;
  margin-top: 22vh;
  color: #dcfb00;
}

.content {
  position: relative;
  padding: 30px;
  width: fit-content;
  /* position: relative;
    font-size: 20px; */
  margin-left: 10vw;
  margin-top: 10vh;
}
.txt_hl img {
  position: absolute;
  width: 12vw;
  left: -2vw;
  z-index: -1;
}

.stxt {
  font-family: "ChulaCharas", sans-serif;
  font-size: 1.4em;
}

.txt_hl2 {
  position: relative;
  display: none;
}
.txt_hl2 .txt {
  font-family: "Athiti", sans-serif;
  font-size: 2em;
}

.txt_hl2 img {
  position: absolute;
  width: 12vw;
  left: -2vw;
}

li {
  color: #dcfb00; /* bullet color */
}

li span {
  color: black; /* text color */
}

/* ------------------------ ask --------------- */
.button {
  background-color: #dcfb00;
  border-radius: 12px;
  border: none;
  color: black;
  padding: 15px 100px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  font-family: "ChulaCharas", sans-serif;
  font-size: 25px;
  width: 39%;
  max-width: 100%;
  margin-top: 10px;
}
.icon {
  size: 10%;
}
.chapter_1 p {
  font-family: "Athiti", sans-serif;
  font-size: 120px;
  position: relative;
  width: auto;
  margin-bottom: -9px;
}
.chapter_1 p2 {
  font-family: "ChulaCharas", sans-serif;
  font-size: 40px;
  position: relative;
  width: auto;
}
.chapter_1 p4 {
  font-family: "Athiti", sans-serif;
  font-size: 25px;
}
.chapter_2 p {
  font-family: "Athiti", sans-serif;
  font-size: 40px;
  position: relative;
  width: auto;
  margin-bottom: -9px;
}
.chapter_3 p {
  font-family: "Athiti", sans-serif;
  font-size: 50px;
  position: relative;
  width: auto;
  margin-bottom: -9px;
  color: #dcfb00;
}
