#bg {
  position: fixed;
  top: -30%;
  left: 0;
  /* Preserve aspet ratio */
  width: 100%;
  height: auto;
}
@font-face{
  font-family: 'ChulaCharas';
  src: url(/css/ChulaCharasNewReg.ttf) format('truetype');
}
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

section {
  height: 100vh;
  text-align: center;
}

.topic {
  z-index: 1;
  position: absolute;
  top: 8%;
  left: 36%;
  /* Preserve aspet ratio */
  width: fit-content;
  height: auto;
  font-family: "Athiti", sans-serif;
}

.topic p {
  font-size: 5rem;
  color: #dcfb00;
  margin-bottom: -0.5em;
}

.box {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.box2 {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.keyword {
  background: #dcfb00;
  width: 220px;
  margin-left: 43%;
  margin-top: 15%;
}

.keyword p {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  margin-bottom: -0.1em;
  font-family: "ChulaCharas", sans-serif;
}

.home {
  z-index: 0;
  position: fixed;
  top: 2%;
  left: -43%;
  /* Preserve aspet ratio */
  width: 100%;
  height: auto;
  font-family: "Athiti", sans-serif;
}

.home p {
  font-size: 3.5rem;
  color: #dcfb00;
  margin-bottom: -0.5em;
}

.preface {
  position: absolute;
  background: white;
  width: 950px;
  margin-left: 22%;
  margin-top: 15%;
}

.preface p {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  margin-bottom: -0.1em;
  font-family: "ChulaCharas", sans-serif;
}

.word {
  font-size: 1.2em;
  font-family: "ChulaCharas", sans-serif;
  position: relative;
  background: #dcfb00;
  width: 450px;
  margin-top: 2%;
  margin-bottom: 4%;
}

.word2 {
  font-size: 2em;
  font-family: "Athiti", sans-serif;
  position: relative;
  background: #dcfb00;
  width: 100px;
  margin-top: 2%;
  margin-bottom: 4%;
}

.trigger_1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box_l,
.box_r {
  position: relative;
  width: 0%;
  height: 200%;
  background: #000;
}

.box_t,
.box_b {
  width: 100%;
  height: 0%;
  background: #000;
}
